.row {text-align: center}


body {background-image: url(GOPR3477.JPG.jpeg);
background-size:100%;
background-repeat:no-repeat;}

h1 {font-style: bold;
  color:#476E7F;
    font-size: 35px;
    text-align: center;}


.btn {margin: 2px;
  width:100px;
  height:100px;
background-color: #FFE5C0;
color:#476E7F;}

.crab-btn {background-image: url(Crab.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}
.dolphin-btn {background-image: url(dolphin.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}

.starfish-btn {background-image: url(starfish.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}

.turtle-btn {background-image: url(turtle.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}

.attackButton {background-image: url(AttackButton.jpg); 
background-size: 100%;
background-repeat: no-repeat;
}
.button-text {font-size:30px;}
